.list-container {
    /* background-color: orange; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.list-sort {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list-sort button {
    background-color: rgb(46, 183, 207);
    height: 30px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.list-value {
    border: 2px;
    border-style: groove;
    border-radius: 4px;
    display: grid;
    padding: 12px;
    grid-template-columns: auto 100px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.list-value i {
    font-size: 18px;
    text-align: start;
}

.item-action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}

.item-action input,
a {
    text-align: center;
}

.item-action input {
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

.item-title {
    padding: 5px;
    margin: 10px 10px 10px 10px;
}


.list-delete {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
}

.list-delete button {
    background-color: rgb(255, 84, 84);
    height: 30px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}